<%= form_for @event do |f| %>

  <div class="form-group">
    <label>Description</label>
    <%= f.text_area :description, rows: 5, placeholder: "Something about your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Location</label>
    <%= f.text_area :location, rows: 5, placeholder: "The location of your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Image link</label>
    <%= f.text_area :image_link, rows: 5, placeholder: "The image link of your event", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :includes_food %> Includes food
  </div>
  <div class="form-group">
    <%= f.check_box :includes_drinks %> Includes drinks
  </div>

  <div class="form-group">
    <label>Price</label>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <%= f.number_field :price, placeholder: "eg. 100", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label>Capacity</label>
    <div class="input-group">
      <div class="input-group-addon">persons</div>
      <%= f.number_field :capacity, placeholder: "eg. 200", class: "form-control" %>
    </div>
  </div>

  <label>Publish this?</label>

  <div class="form-group">
    <%= f.check_box :active %> Active
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
